*{
	margin:0;
	padding:0;
}
.bg_video{
	width:100%;
}
.bg_container{
	height:641px;
	overflow:hidden;
}
.container{
	content:"";
	position:absolute;
	top:0;
	left:0;
	padding:30px;
	color:#fff;
	text-shadow:#000 2px 2px;
}